<div class="row">
    <hr />
    <div class="col-xs-12">
        <div class="row" style="cursor:pointer" ng-click="$ctrl.open = !$ctrl.open">
            <div class="col-xs-10">
                <label><i class="fa fa-history"></i> Historial de eventos:</label>
            </div>
            <div class="col-xs-2 text-right">
                <i class="fa fa-angle-left" ng-if="!$ctrl.open"></i>
                <i class="fa fa-angle-down" ng-if="$ctrl.open"></i>
            </div>
        </div>
        <ul class="timeline" uib-collapse="!$ctrl.open">
            <li class="timeline-inverted" ng-repeat="ev in $ctrl.baiEventos | orderBy: '-fecha'">
                <div class="timeline-badge {{ev.color}}"><i class="fa {{ev.icono}}" style="color:white"></i></div>
                <div class="timeline-panel" style="background-color:white">
                    <div class="timeline-heading">
                        <h5 class="timeline-title">{{::ev.nombre}}</h5>
                        <p class="text-muted">
                            <small>
                                <i class="fa fa-clock-o"></i>
                                Hace {{::ev.fecha | amDifference : null : 'minute' | amDurationFormat : 'minute'}} ({{::ev.fecha  | date: 'dd/MM/yyyy HH:mm'}}) por {{::ev.usuario.nombre_usuario}}
                            </small>                           
                        </p>
                    </div>
                    <div class="timeline-body">
                        <p>{{::ev.descripcion}}</p>
                        <p style="font-size:11px" class="text-muted" ng-if="ev.proxima_accion">
                            <i class="fa fa-calendar"></i> {{::ev.proxima_accion}}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
