<div class="page-header">
    <h1>Órdenes de reposición</h1>
</div>
<div class="row">
    <div class="col-lg-6 text-right">
        <button class="btn btn-primary" ng-click="repos.nueva()"><i class="fa fa-plus"></i> Crear</button>
    </div>
</div>
<div class="row" cg-busy="{promise: repos.prom, message: 'Cargando ordenes de reposición ...'}">
    <div class="col-lg-6">
        <h3>En proceso</h3>
        <hr />
        <div ng-repeat="r in repos.ordenes_reposicion_proceso">
            <bai-reposicion-detalle ng-if="r.estado == 'nueva'" 
                                    bai-class="'primary'" bai-data="r" bai-title="'Pendiente de aprobar'" bai-icon="'fa-clock-o'">
                <bai-data>
                    <div class="row">
                        <div class="col-xs-12">
                            <label><i class="fa fa-calendar"></i> Fecha deseada de entrega:</label>
                            <span>{{(r.fecha_entrega_deseada | date: 'dd/MM/yyyy') || 'Sin definir'}}</span>
                        </div>
                    </div>
                </bai-data>
            </bai-reposicion-detalle>
            <bai-reposicion-detalle ng-if="r.estado == 'confirmada'"
                                    bai-class="'primary'" bai-data="r" bai-title="'Aprobada'" bai-icon="'fa-thumbs-o-up'">
                <bai-data>
                    <div class="row">
                        <div class="col-xs-12">
                            <label><i class="fa fa-calendar"></i> Fecha estimada de entrega:</label>
                            <span>{{(r.fecha_entrega_estimada | date: 'dd/MM/yyyy') || 'Pendiente'}}</span>
                        </div>
                    </div>
                </bai-data>
            </bai-reposicion-detalle>
            <bai-reposicion-detalle ng-if="r.estado == 'en_transito'"
                                    bai-class="'primary'" bai-data="r" bai-title="'En tránsito'" bai-icon="'fa-truck'">
                <bai-data>
                    <div class="row">
                        <div class="col-xs-12">
                            <label><i class="fa fa-calendar"></i> Fecha estimada de entrega:</label>
                            <span>{{(r.fecha_entrega_estimada | date: 'dd/MM/yyyy') || 'Pendiente'}}</span>
                        </div>
                    </div>
                </bai-data>
                <bai-actions>
                    <button class="btn btn-sm btn-block btn-primary" ng-click="repos.recepcion(r)"><i class="fa fa-check"></i> Marcar recepción</button>
                </bai-actions>
            </bai-reposicion-detalle>
        </div>    
    </div>
    <div class="col-lg-6">
        <h3>Finalizadas</h3>
        <hr />
        <div ng-repeat="r in repos.ordenes_reposicion_finalizadas">
            <bai-reposicion-detalle ng-if="r.estado == 'entregada'"
                                    bai-class="'success'" bai-data="r" bai-title="'Entregada'" bai-icon="'fa-check'">
                <bai-data>
                    <div class="row">
                        <div class="col-xs-12">
                            <label><i class="fa fa-calendar"></i> Fecha entregada:</label>
                            <span>{{r.fecha_entrega | date: 'dd/MM/yyyy HH:mm'}}</span>
                        </div>
                    </div>
                </bai-data>
            </bai-reposicion-detalle>
            <bai-reposicion-detalle ng-if="r.estado == 'cancelada'"
                                    bai-class="'danger'" bai-data="r" bai-title="'Cancelada'" bai-icon="'fa-times'">
                <bai-data>
                    <div class="row">
                        <div class="col-xs-12">
                            <label><i class="fa fa-calendar"></i> Fecha cancelada:</label>
                            <span>{{r.fecha_procesada | date: 'dd/MM/yyyy HH:mm'}}</span>
                        </div>
                    </div>
                </bai-data>
            </bai-reposicion-detalle>
        </div>   
    </div>
</div>
