<bai-modal-header bai-title="recepcion.title" bai-on-click="recepcion.cerrar()"></bai-modal-header>
<div class="modal-body">
    <div class="row form-group">
        <div class="col-sm-12">
            <h4><i class="fa fa-comment-o"></i> Añadir comentario</h4>
            <textarea class="form-control" rows="3" ng-model="recepcion.comentario" ng-disabled="recepcion.cargando"></textarea>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="recepcion.marcar()" ng-disabled="recepcion.cargando"><i class="fa fa-check"></i> Marcar</button>
</div>
