<div class="list-group">
    <div ng-repeat="pv in repos.panel_nuevas.data">
        <bai-panel-inside bai-main-color="'bai-light-green'" bai-opened-color="'#55b37f'" bai-open="pv.open" ng-click="pv.open = !pv.open">
            <bai-info>
                <div class="row">
                    <div class="col-xs-2 col-md-1">
                        <span class="badge" ng-class="{'bai-badge-close': !pv.open, 'bai-light-green': pv.open}">{{pv.reposiciones.length}}</span>
                    </div>
                    <div class="col-xs-4 col-md-3">{{pv.codigo}}</div>
                    <div class="col-xs-6 col-md-8">{{pv.nombre}}</div>
                </div>
            </bai-info>
        </bai-panel-inside>
        <div uib-collapse="!pv.open">
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6"><b>#</b></div>
                        <div class="col-xs-6"><b>Fecha de solicitud</b></div>
                    </div>
                </div>
                <div ng-repeat="r in pv.reposiciones">
                    <a href="" class="list-group-item" ng-click="repos.reposicionDetalle(r); r.open = !r.open">
                        <div class="row">
                            <div class="col-xs-6">{{r.numero_orden}}</div>
                            <div class="col-xs-6">{{r.fecha_solicitud | date: 'dd/MM/yyyy'}}</div>
                        </div>
                    </a>
                    <div class="panel panel-default" uib-collapse="!r.open">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row form-group">
                                        <div class="col-xs-12">
                                            <label><i class="fa fa-calendar"></i> Fecha deseada de entrega:</label>
                                            <span ng-if="r.fecha_entrega_deseada">{{r.fecha_entrega_deseada | date: 'dd/MM/yyyy'}}</span>
                                            <span ng-if="!r.fecha_entrega_deseada">Sin definir</span>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-xs-12">
                                            <label><i class="fa fa-shopping-cart"></i> Productos solicitados:</label>
                                            <ul>
                                                <li ng-repeat="p in r.productos">
                                                    <span class="badge">{{p.cantidad_solicitada}}</span>&nbsp;{{p.producto.nombre}}
                                                </li>
                                            </ul>
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-3">
                                    <div class="row form-group">
                                        <div class="col-xs-6 col-md-12" style="margin-top:5px">
                                            <button class="btn btn-block btn-sm btn-success" ng-click="repos.reposicionAprobar(r)"><i class="fa fa-check"></i> Aprobar</button>
                                        </div>
                                        <div class="col-xs-6 col-md-12" style="margin-top:5px">
                                            <button class="btn btn-block btn-sm btn-danger"><i class="fa fa-times"></i> Rechazar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row form-group">
                                        <div class="col-xs-12">
                                            <label><i class="fa fa-comment-o"></i> Añadir comentario</label>
                                            <textarea class="form-control" rows="4" placeholder="Escriba un comentario ..."></textarea>
                                            <button style="margin-top:5px" class="btn btn-sm btn-success"><i class="fa fa-share-square-o"></i> Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>                         
                        </div>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
