.bai-light-green {
    background-color:#55b37f !important;
    color:white !important
}

.bai-blue-green {
    background-color:#47938f !important;
    color:white !important
}

.bai-dark-blue-green {
    background-color:#0d7170 !important;
    color:white !important;
}

.bai-dark-green {
    background-color:#053d3c !important;
    color:white !important;
}

.bai-light-grey {
    background-color: #eeeeee !important;
}

.bai-badge-close {
    background-color:#eeeeee !important;
    color:#777 !important;
}

.bai-content {
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background-color: #FBFBFB;
}
