.bai-color-blue {
    color: #428bca;
}

.bai-color-red {
    color: #d9534f;
}

.bai-color-green {
    color: #5cb85c;
}
.bai-light-green {
    background-color:#55b37f !important;
    color:white !important
}

.bai-blue-green {
    background-color:#47938f !important;
    color:white !important
}

.bai-dark-blue-green {
    background-color:#0d7170 !important;
    color:white !important;
}

.bai-dark-green {
    background-color:#053d3c !important;
    color:white !important;
}

.bai-light-grey {
    background-color: #eeeeee !important;
}

.bai-badge-close {
    background-color:#eeeeee !important;
    color:#777 !important;
}

.bai-content {
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    background-color: #FBFBFB;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary-active {
    border-top: 1px solid #428bca;
    border-right: 1px solid #428bca;
    border-bottom: 1px solid #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success-active {
    border-top: 1px solid #5cb85c;
    border-right: 1px solid #5cb85c;
    border-bottom: 1px solid #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger-active {
    border-top: 1px solid #d9534f;
    border-right: 1px solid #d9534f;
    border-bottom: 1px solid #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
